* {box-sizing:border-box; margin:0; padding:0; font-size:1.0em; color:#000; text-decoration:none;}
header {display:flex; justify-content: space-between; padding:0 15px; align-items: center; height:60px; position:relative;}
header a {text-transform: uppercase; font-weight:600; margin:0 5px;}
/* CSS수정 - 100% 추가 */
header a img {width: 100%;}
header h1 {width:150px; position:absolute; left:50%; transform:translateX(-50%);}
main .visual {
    /* CSS수정 - 8% 로 변경 */
    background:url(../images/visual.gif) center 6%;
    /* CSS수정 - 하기 내용 추가 */
    background-size:cover;
    height:350px; width:100%;
}
main h2 {text-align:center; padding:30px 0; text-transform: capitalize;}
/* CSS수정 - margin: 0 20px; 로 수정 */
main .link {max-width:1400px; margin:0 200px; display:flex;}
/* CSS수정 - 사이즈 추가 */
main .link a img {width: 100%;} 
/* CSS수정 - ;표시 삭제 */
@media screen and (max-width: 1400px){
    header .left, header .right {display:none;}
    main .link {padding:0 15px;}
    /* 이미지크기 수정 */
    header a img, main .visual, main .link a img {max-width: 100%; height: auto;}
/* CSS수정 - {} 닫는 괄호 추가 */
}

